<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteRule ^(.*)$ index.php/$1 [QSA,PT,L]
  RewriteRule \/s\/(.*)$ /shop/?domain=$1 [QSA]
  RewriteRule \/s_(.*)/p_(.*)$ /shop/page/show?id=$2 [QSA]

</IfModule>