
body{color:#3a3a3c;}
a{color: #3a3a3c;}
.headhrbg{ background:#e2ffc7;}
.layout-hd{ background-image:url(../../images/ztshop/all_bg.png); background-position:0 -1200px; background-repeat: repeat-x;}
.navhrbg,.skin-box-hd,.nav{ background:#77cd2a; color:#fff;}
.ulnav a{ color:#fff;}
.shoptitle{color: #f05826;}