body{color:#3a3a3c;}
a{color: #3a3a3c;}
.headhrbg{ background:#d6d6d6;}
.layout-hd{ background-image:url(../../images/ztshop/blackw.png);}
.navhrbg,.skin-box-hd,.nav{ background:#222222; color:#fff;}
.ulnav a{ color:#fff;}
.shoptitle{color: #f05826;}