
body{color:#3a3a3c;}
a{color: #3a3a3c;}
.headhrbg{ background:#D8E7FA;}
.layout-hd{ background-image:url(../../images/ztshop/blue.png);}
.navhrbg,.skin-box-hd,.nav{ background:#3F7FCE; color:#fff;}
.ulnav a{ color:#fff;}
.shoptitle{color: #f05826;}