
body{color:#3a3a3c;}
a{color: #3a3a3c;}
.headhrbg{ background:#ffb06b;}
.layout-hd{ background-image:url(../../images/ztshop/all_bg.png); background-repeat:repeat-x; background-position:0 -2700px;}
.navhrbg,.skin-box-hd,.nav{ background:#6a3201; color:#fff;}
.ulnav a{ color:#fff;}
.shoptitle{color: #f05826;}