body{color:#3a3a3c;}
a{color: #3a3a3c;}
.headhrbg{ background:#e7e8ea;}
.layout-hd{ background:url(../../images/ztshop/buack.png);}
.navhrbg,.skin-box-hd,.nav{ background:#3a3a3c; color:#fff;}
.ulnav a{ color:#fff;}
.shoptitle{color: #f05826;}