

body{color:#3a3a3c;}
a{color: #3a3a3c;}
.headhrbg{ background:#f3e6ca;}
.layout-hd{ background-image:url(../../images/ztshop/gooseyellow.png);}
.navhrbg,.skin-box-hd,.nav{ background:#d7ac4f; color:#fff;}
.ulnav a{ color:#fff;}
.shoptitle{color: #f05826;}