
body{color:#3a3a3c;}
a{color: #3a3a3c;}
.headhrbg{ background:#d4e2ca;}
.layout-hd{ background-image:url(../../images/ztshop/green.png);}
.navhrbg,.skin-box-hd,.nav{ background:#6aa532; color:#fff;}
.ulnav a{ color:#fff;}
.shoptitle{color: #f05826;}