body{color:#3a3a3c;}
a{color: #3a3a3c;}
.headhrbg{ background:#dddddd;}
.layout-hd{ background-image:url(../../images/ztshop/all_bg.png);  background-repeat:repeat-x; background-position:0 -1650px;}
.navhrbg,.skin-box-hd,.nav{ background:#676767; color:#fff;}
.ulnav a{ color:#fff;}
.shoptitle{color: #f05826;}