
body{color:#3a3a3c;}
a{color: #3a3a3c;}
.headhrbg{ background:#9fcfff;}
.layout-hd{ background-image:url(../../images/ztshop/all_bg.png); background-position:0px -150px; background-repeat: repeat-x;}
.navhrbg,.skin-box-hd,.nav{ background:#0365c6; color:#fff;}
.ulnav a{ color:#fff;}
.shoptitle{color: #f05826;}