body{color:#3a3a3c;}
a{color: #3a3a3c;}
.headhrbg{ background:#ffdca4;}
.layout-hd{ background-image:url(../../images/ztshop/all_bg.png); background-position:0px -2100px; background-repeat: repeat-x;}
.navhrbg,.skin-box-hd,.nav{ background:#fe9b00; color:#fff;}
.ulnav a{ color:#fff;}
.shoptitle{color: #f05826;}