body{color:#3a3a3c;}
a{color: #3a3a3c;}
.headhrbg{ background:#fad0d0;}
.layout-hd{ background-image:url(../../images/ztshop/pink.png);}
.navhrbg,.skin-box-hd,.nav{ background:#cf2440; color:#fff;}
.ulnav a{ color:#fff;}
.shoptitle{color: #f05826;}