body{color:#3a3a3c;}
a{color: #3a3a3c;}
.headhrbg{ background:#fec0ff;}
.layout-hd{ background-image:url(../../images/ztshop/all_bg.png); background-position:0px -900px; background-repeat: repeat-x;}
.navhrbg,.skin-box-hd,.nav{ background:#9b2f9c; color:#fff;}
.ulnav a{ color:#fff;}
.shoptitle{color: #f05826;}