body{color:#3a3a3c;}
a{color: #3a3a3c;}
.headhrbg{ background:#feddcc;}
.layout-hd{ background-image:url(../../images/ztshop/all_bg.png); background-position:0 -2400px; background-repeat: repeat-x;}
.navhrbg,.skin-box-hd,.nav{ background:#ce6535; color:#fff;}
.ulnav a{ color:#fff;}
.shoptitle{color: #f05826;}