strong,b{  font-weight:300;}
/*导航*/
.navBg{ border-bottom:2px solid #cccccc;}
.nav{ overflow:hidden; width:720px; margin:-60px auto 0;position:relative; top:2px;   }
.nav_con{font-size: 16px; line-height:24px;font-weight: bold;color: #cccccc;padding:30px 0; float:left; width:200px; border-bottom:2px solid #cccccc; padding-left:40px;}
.nav_conb{ border-color:#c8000b;color: #000000;}
.nav_con b{ display:block; float:left; width:24px; text-align:center; margin-right:10px; height:24px; background-color: #cccccc; color:#ffffff;border-radius:50%;}
.nav_conb b{ background-color:#c8000b;}
.nav_con b img{width:20px; height:20px; padding:2px;}
/*内容*/
.mainBg{ height:493px;} 
.main{ width:680px; padding:0 25px 25px; line-height:24px; font-size:16px; margin:60px auto 0; border:1px solid #def2e6; background-color:#f3fdf5;  overflow:hidden;}
.main h1{ margin:30px 0; font-size:20px;}
.main b{ color:#c8000b;}
.main i{ display:block; float:left;position:relative; top:28px;width:20px; height:20px; padding:4px; background-color:#13c4bc; border-radius:50%; text-align:center; color:#ffffff; margin-right:15px;}
.main i img{width:20px; height:20px; position:relative; top:1px;}
/*保证栏*/
.content3_con3Bg{ border-top:1px solid #d2d7dd;  margin-top:20px; margin-bottom:-20px;}
.content3_con3{ background-image:url(../images/Content3_07.png);width:1190px;height:50px;margin:30px 0 20px;}
.content3_con3a1{width:21.5%;height:50px;display:block;}
.content3_con3a2{width:29.5%;height:50px;display:block;}
.content3_con3a3{width:19.5%;height:50px;display:block;}
