.footer_img{width:130px;}
.main_img{width:240px;}
#nav{width:1220px;height:70px}
.nav{width: 140px;}
.navwrap1{width:1220px;}
.navwrap2{width:500px;}
.container{width:1190px;margin:0 auto;}
.main{width:390px; height:240px;}
.content_1{width:240px;height:240px;}
.content_4{width:240px;height:240px;}
.content{width:1220px;height:240px;}
.content_3{width:240px;height:119px;}
.content_2{width:240px;height:119px;}
.footer{width:1250px;}
#footer_layout{ height:300px;}
#footer_cont1{ width:440px;}
#footer_cont2{ width:440px;}
#logo_img{width:164px;height:90px;}
#title{height:550px;}



