.footer_img{width:180px;}
.main_img{width:296px;}
#nav{width:1500px;height:70px;}
.nav{width:180px;}
.navwrap1{width:1500px;}
.navwrap2{width:600px;}
.conwhole{width:1500px;}
.main{width:540px; height:260px;}
.content_1{width:296px;height:298px;}
.content_4{width:296px;height:298px;}
.content{width:1500px;height:298px;}
.content_3{width:296px;height:148px;}
.content_2{width:296px;height:148px;}
.footer{width:1250px; height:400px;}
#footer_layout{height:350px;}
#footer_cont1{width:540px;}
#footer_cont2{width:540px;}
#logo_img{width:164px;height:90px;}
#title{height:625px;}
.conwhole{ width:100%}
.container{ width:1500px; margin:0 auto;}


